.navbar {
  overflow: hidden;
  min-height: 200%;
  font-weight: 200;
  line-height: 2;
  background-color: #000000; ;
  font-family: 'Century Gothic', sans-serif;
}

/* Links inside the navbar */
.navbar a {
  display: inline; 
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  border: none;
  color: white;
  padding: 24px 16px;
  background-color: #000000;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ECECEA;
  color: #000000;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:#ECECEA;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}






 